* {
  text-align: center;
}

.SearchBar {
  width: 100vw;
}

img {
  margin-right: 20px;
}

header {
    margin-bottom: 25px;
}

input {
  margin: 0 20px 0 30px;
  text-align: left;
}

.search {
  margin-right: 30px;
}

.search-favs {
  margin-left: 10px;
  margin-right: 30px;
}

.known_for {
  height: 150px;
  width: auto;
}

.nav-button {
  margin-left: 10px;
}

.List-Right {
  width: 100%;
}

.people-list {
  width: 100%;
}

.All-Lists {
  margin: 20px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
